@import "layout/normalize.css";
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media (max-width: 340px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  color: #000;
  line-height: 1.22em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 85%;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    max-width: 94%;
  }
}

.wrapper__content {
  flex: 1;
}

.hero {
  background: url("../img/hero/background.png") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 36.3rem;
  color: #fff;
  padding-bottom: 6%;
  position: relative;
}
@media (max-width: 768px) {
  .hero {
    background: url(../img/hero/background768.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 65% center;
    padding-bottom: 0;
    min-height: 110vh;
    overflow: hidden;
  }
}
.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .hero__container {
    max-width: 100%;
  }
}
.hero__content {
  width: 50%;
}
@media (max-width: 768px) {
  .hero__content {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .hero__content {
    padding: 0;
  }
}
.hero__title {
  font-size: 2.66rem;
  line-height: 1.18;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4.2%;
}
@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 0.7rem;
    letter-spacing: -0.2vw;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 8.5vw;
    line-height: 0.9em;
    margin-bottom: 0.7rem;
    letter-spacing: normal;
  }
}
.hero__txt {
  font-size: 1.16rem;
  line-height: 1.2;
  margin-bottom: 8.5%;
}
@media (max-width: 768px) {
  .hero__txt {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 480px) {
  .hero__txt {
    font-size: 3.8vw;
    margin-bottom: 2.5rem;
  }
}
.hero__icons {
  width: 52%;
}
@media (max-width: 768px) {
  .hero__icons {
    display: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36.3rem;
  height: 100vh;
}
@media (max-width: 480px) {
  .section {
    height: 110vh;
  }
}
@media (max-width: 340px) {
  .section {
    height: 130vh;
  }
}
.section_color-white {
  color: #fff;
}

.button {
  background: #ffd517;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.11rem 2rem;
  border-radius: 100px;
}
.button_transp {
  background: transparent;
  padding: 0.27rem;
  text-transform: none;
  color: #fff;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.72rem;
}
@media (max-width: 768px) {
  .header {
    background: #1968b1;
    padding: 0 4%;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0 2%;
  }
}
@media (max-width: 340px) {
  .header {
    min-height: 12%;
  }
}

.logo__svg {
  width: 3rem;
  height: 2.2rem;
}

.menu {
  margin: 0 0.5rem;
}
@media (max-width: 768px) {
  .menu {
    display: block;
    background-color: #313131;
    position: absolute;
    top: 0;
    left: 555rem;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 17% 0 0;
    transition: opacity 0.3s;
  }
}
@media (max-width: 480px) {
  .menu {
    padding: 10% 0 0;
  }
}
@media (max-width: 340px) {
  .menu {
    padding: 5% 0 0;
  }
}
.menu__list {
  display: flex;
  column-gap: 1.22rem;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
@media (max-width: 340px) {
  .menu__list {
    row-gap: 0;
  }
}
.menu__link {
  text-decoration: none;
  line-height: 1.6;
  color: #fff;
}
@media (max-width: 768px) {
  .menu__link {
    font-size: 2rem;
    line-height: 2em;
  }
}
.menu_full-screen {
  left: 0;
  opacity: 1;
}

.address {
  font-style: normal;
}
.address__info {
  font-size: 1.16rem;
  line-height: 1.14em;
  margin-bottom: 0.5rem;
}

.contacts {
  text-decoration: none;
  font-size: 1.22rem;
  line-height: 0.81;
  color: #fff;
  flex-shrink: 0;
}
.contacts_color-black {
  color: #000;
}
@media (max-width: 768px) {
  .contacts_desktop {
    display: none;
  }
}
.contacts__svg {
  width: 0.66rem;
  height: 0.83rem;
  fill: #fff;
}
.contacts__svg_black {
  fill: #000;
}
.contacts__phone {
  white-space: nowrap;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.description__img {
  margin-right: 0.77rem;
}
.description__txt {
  max-width: 5rem;
  font-size: 0.88rem;
}

@media (max-width: 768px) {
  .section-why__container {
    max-width: 97%;
  }
}
@media (max-width: 480px) {
  .section-why__container {
    margin-bottom: 2rem;
  }
}
@media (max-width: 340px) {
  .section-why__container {
    margin-bottom: 0;
  }
}
.section-why__title {
  margin-bottom: 1.11rem;
}
@media (max-width: 480px) {
  .section-why__title {
    margin-bottom: 0;
  }
}
.section-why__txt {
  text-align: center;
  line-height: 1.16;
  width: 46%;
  margin: 0 auto;
  color: #666;
  margin-bottom: 2.77rem;
}
@media (max-width: 768px) {
  .section-why__txt {
    width: 58%;
  }
}
@media (max-width: 480px) {
  .section-why__txt {
    width: 94%;
    margin-bottom: 3.2rem;
  }
}

.slider {
  position: relative;
  display: flex;
  transition: right 0.3s ease-in-out;
}

.section-slider {
  position: relative;
}
.section-slider__container {
  overflow: hidden;
}

.slide {
  display: flex;
  column-gap: 2.4rem;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .slide {
    flex-direction: column;
    align-items: center;
  }
}
.slide__board {
  width: 50%;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 768px) {
  .slide__board {
    width: 42%;
  }
}
@media (max-width: 480px) {
  .slide__board {
    width: 55%;
    margin-bottom: 2.22rem;
  }
}
.slide__img {
  position: relative;
  z-index: 200;
  bottom: 0;
  left: 0;
}
.slide__svg {
  width: 22rem;
  height: 21rem;
  position: absolute;
  top: 5rem;
  left: 0;
  z-index: 100;
}
@media (max-width: 768px) {
  .slide__svg {
    top: 1rem;
  }
}
@media (max-width: 480px) {
  .slide__svg {
    top: 0;
  }
}
.slide__right-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media (max-width: 768px) {
  .slide__right-side {
    width: 74%;
  }
}
@media (max-width: 480px) {
  .slide__right-side {
    width: 100%;
  }
}
.slide__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 18.3rem;
}
@media (max-width: 768px) {
  .slide__content {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }
}
.slide__title {
  font-size: 2rem;
  line-height: 1.19em;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .slide__title {
    font-size: 1.66rem;
    line-height: 1.2em;
    margin-bottom: 0.77rem;
  }
}
.slide__txt {
  color: #666;
}
@media (max-width: 768px) {
  .slide__txt {
    margin-bottom: 1.33rem;
  }
}
@media (max-width: 480px) {
  .slide__txt {
    width: 85%;
  }
}
.slide__desc {
  display: flex;
  column-gap: 3rem;
}
@media (max-width: 768px) {
  .slide__desc {
    margin-bottom: 1.33rem;
  }
}
.slide__option-head {
  color: #666;
}
.slide__option-content {
  font-weight: 700;
}
.slide__order {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}
@media (max-width: 768px) {
  .slide__order {
    justify-content: center;
    column-gap: 2rem;
  }
}
.slide__price {
  font-size: 3.33rem;
  line-height: 1em;
  font-weight: 300;
}

.options {
  width: 5rem;
  height: 5rem;
  background-color: #3a587e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.38rem;
  border-radius: 4px;
  margin-bottom: 3rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .options {
    display: none;
  }
}
.options__svg {
  width: 2.11rem;
  height: 2.11rem;
  fill: #fff;
}
.options__title {
  font-size: 0.77rem;
  line-height: 1.21em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.arrow {
  position: absolute;
  top: 50%;
  height: 1.5rem;
  z-index: 300;
}
@media (max-width: 768px) {
  .arrow {
    top: 30%;
  }
}
.arrow_left {
  left: 3%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .arrow_left {
    left: 19%;
  }
}
@media (max-width: 480px) {
  .arrow_left {
    left: 1%;
  }
}
.arrow_right {
  right: 3%;
  transform: translateY(-50%) rotate(180deg);
}
@media (max-width: 768px) {
  .arrow_right {
    right: 19%;
  }
}
@media (max-width: 480px) {
  .arrow_right {
    right: 1%;
  }
}
.arrow__svg {
  width: 0.77rem;
  height: 1.5rem;
  fill: #fff;
}

.section-review__title {
  margin-bottom: 1.9rem;
}
@media (max-width: 480px) {
  .section-review__title {
    margin-bottom: 1.4rem;
  }
}

.title {
  font-size: 2.66rem;
  line-height: 1.18;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 480px) {
  .title {
    font-size: 2.22rem;
    line-height: 0.9em;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .cards {
    flex-direction: column;
    row-gap: 2.1rem;
  }
}
.cards__item {
  width: 30%;
  position: relative;
}
.cards__item:after {
  content: url("../img/why/circles.svg");
  position: absolute;
  left: 96%;
  top: 23%;
}
@media (max-width: 768px) {
  .cards__item:after {
    display: none;
  }
}
.cards__item:last-child::after {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .card {
    flex-direction: row;
    width: 100%;
    column-gap: 0.66rem;
  }
}
.card__head {
  width: 7.11rem;
  height: 7.11rem;
  background-color: #f2f5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1.11rem;
  flex-shrink: 0;
}
@media (max-width: 480px) {
  .card__head {
    margin-bottom: 0;
  }
}
.card__main {
  text-align: center;
  width: 100%;
}
@media (max-width: 480px) {
  .card__main {
    text-align: start;
  }
}
.card__title {
  font-size: 1.5rem;
  line-height: 1.18;
  font-weight: 700;
  margin-bottom: 1.38rem;
}
@media (max-width: 768px) {
  .card__title {
    margin-bottom: 0.7rem;
  }
}
.card__txt {
  line-height: 1.16;
  font-weight: 300;
  color: #666;
}
@media (max-width: 768px) {
  .card__txt {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .card__txt {
    text-align: start;
    padding-right: 7%;
  }
}

.review {
  display: flex;
  flex-wrap: wrap;
  min-height: 31%;
  padding: 4.3% 13.3% 4.3% 4.3%;
  background: #f8faf9;
  margin-bottom: 0.66rem;
  column-gap: 2.22rem;
}
@media (max-width: 768px) {
  .review {
    padding: 12% 5.1% 10%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.review__avatar {
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .review__avatar {
    width: 7.22rem;
    margin-bottom: 1.66rem;
  }
}
.review__content {
  display: flex;
  flex-direction: column;
  padding: 3.8% 0;
  flex-grow: 1;
  flex-basis: 17rem;
}
@media (max-width: 768px) {
  .review__content {
    text-align: center;
    padding: 0;
    flex-basis: auto;
  }
}
.review__subtitle {
  font-size: 1.5rem;
  line-height: 1.18;
  font-weight: 700;
  margin-bottom: 0.94rem;
}
.review__txt {
  color: #666;
  line-height: 1.2;
  margin-bottom: 1.55rem;
}
@media (max-width: 768px) {
  .review__txt {
    margin-bottom: 0.94rem;
  }
}

.avatars {
  margin-bottom: 1rem;
}
.avatars__list {
  display: flex;
  justify-content: center;
  column-gap: 0.33rem;
}
.avatars__item {
  width: 4.11rem;
  height: 4.11rem;
}
.avatars__item:hover .avatars__img {
  cursor: pointer;
}
.avatars__item_active .avatars__img {
  border: 0.33rem solid #ffd517;
}
.avatars__img {
  border-radius: 50%;
  border: 0.33rem solid transparent;
  transition: all 0.3s;
}
.avatars__img:hover {
  border: 0.33rem solid #ffd517;
}

.section-order {
  background: url("../img/order/background1.jpg") center center;
  background-size: cover;
  position: relative;
}
.section-order__title {
  margin-bottom: 3.33rem;
}
@media (max-width: 768px) {
  .section-order__title {
    margin-bottom: 1.9rem;
  }
}
.section-order:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(43, 43, 43, 0.5);
}
.section-order__container {
  position: relative;
  z-index: 100;
}
@media (max-width: 768px) {
  .section-order__container {
    max-width: 25.8rem;
  }
}
@media (max-width: 480px) {
  .section-order__container {
    width: 95%;
    max-width: 25.5rem;
  }
}

.form {
  display: flex;
  column-gap: 1.38rem;
}
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    row-gap: 0.66rem;
  }
}
.form__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.66rem;
}
.form__col:last-child {
  row-gap: 0;
}
.form__row {
  display: flex;
  column-gap: 0.72rem;
}
.form__input {
  width: 100%;
  padding: 1rem 0.55rem;
  border: 3px solid transparent;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s;
  font-family: "Open Sans";
  font-size: 0.77rem;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .form__input {
    padding: 0.44rem 0.55rem;
  }
}
.form__input:focus {
  border-color: #ffd517;
}
.form__input_textarea {
  height: 8.44rem;
  resize: none;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .form__input_textarea {
    height: 4.55rem;
    margin-bottom: 1.5rem;
  }
}
.form__item {
  flex: 1;
  -webkit-user-select: none;
          user-select: none;
}
.form__wrapper {
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .form__wrapper {
    margin-bottom: 2.2rem;
  }
}
.form__controls {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.11rem;
  row-gap: 1.11rem;
  margin-bottom: 1.11rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}
.form__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
@media (max-width: 768px) {
  .form__buttons {
    justify-content: center;
    width: 100%;
    column-gap: 1.38rem;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
  column-gap: 0.55rem;
}
.radio__visible {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffd517;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.radio__chekbox .radio__visible {
  border-radius: 4px;
}
.radio__chekbox .radio__visible:before {
  background: url(../img/order/cheked.png) center center;
  background-repeat: no-repeat;
}
.radio__el {
  display: none;
}
.radio__el:checked ~ .radio__visible:before {
  display: block;
}

.fixed-menu {
  position: fixed;
  top: 36%;
  right: 4%;
  z-index: 500;
}
@media (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.27rem;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__link {
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.33rem;
  height: 0.33rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.section-map {
  background-image: url("../img/map.png");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}

.hamburger {
  width: 25px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 768px) {
  .hamburger_close {
    transform: rotate(90deg);
  }
  .hamburger_close .hamburger__item:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .hamburger_close .hamburger__item:nth-child(2) {
    opacity: 0;
  }
  .hamburger_close .hamburger__item:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
}
.hamburger__item {
  background: #fff;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 6px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.footer {
  display: flex;
  padding: 1.2rem 0;
}
.footer__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__container {
    max-width: 92%;
  }
}
@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 1.11rem;
  }
}

.social {
  display: flex;
  column-gap: 0.77rem;
}
.social__svg {
  width: 1.11rem;
  height: 1.11rem;
  fill: #b3b3b3;
  transition: all 0.3s;
}
.social__item:hover .social__svg {
  fill: #000;
}