.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  &__img {
    margin-right: 0.77rem;
  }

  &__txt {
    max-width: 5rem;
    font-size: 0.88rem;
  }
}
