.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 32.5rem;
  height: 100%;

  // @include tablet {
  //   height: 100vh;
  // }
  // @include phone {
  //   height: 100%;
  // }

  &_color-white {
    color: #fff;
  }
}
