* {
  box-sizing: border-box;
}

html {
  font-size: $baseFont;
  @include phoneS {
    font-size: $baseFont - 2px;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  color: #000;
  line-height: 1.22em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0;
}
a {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  max-width: 100%;
  max-height: 100%;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  margin: 0 auto;
  max-width: 85%;
  width: 100%;
  @include tablet {
    max-width: 94%;
  }
}

.wrapper__content {
  flex: 1;
}
