.avatars {
  margin-bottom: 1rem;
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 0.33rem;
  }
  &__item {
    width: 4.11rem;
    height: 4.11rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &_active .avatars__link {
      border-color: $colorYellow;
    }
  }

  &__link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s;
    border: 6px solid transparent;

    &:hover {
      border-color: $colorYellow;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: unset;
    border-radius: 50%;
  }
}
