.avatars {
  margin-bottom: 1rem;
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 0.33rem;
  }
  &__item {
    width: 4.11rem;
    height: 4.11rem;
    &:hover .avatars__img {
      cursor: pointer;
    }
    &_active .avatars__img {
      border: 6px solid $colorYellow;
    }
  }

  &__img {
    border-radius: 50%;
    border: 6px solid transparent;
    transition: all 0.3s;
    &:hover {
      border: 6px solid $colorYellow;
    }
  }
}
