.cards {
  display: flex;
  justify-content: space-between;
  @include phone {
    flex-direction: column;
    row-gap: 2.1rem;
  }

  &__item {
    width: 30%;
    position: relative;
    &:after {
      content: url("../img/why/circles.svg");
      position: absolute;
      left: 96%;
      top: 23%;
      @include tablet {
        display: none;
      }
    }
    &:last-child::after {
      display: none;
    }
  }
}
