.hero {
  background: url("../img/hero/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 652px;
  color: #fff;
  padding-bottom: 6%;
}
.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__content {
  width: 50%;
}
.hero__title {
  font-size: 48px;
  line-height: 1.18;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero__txt {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.hero__icons {
  width: 52%;
}
