.review {
  display: flex;
  flex-wrap: wrap;
  min-height: 31%;
  padding: 4.3% 13.3% 4.3% 4.3%;
  background: #f8faf9;
  margin-bottom: 0.66rem;
  column-gap: 2.22rem;

  @include tablet {
    padding: 12% 5.1% 10%;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__avatar {
    flex-shrink: 0;
    @include tablet {
      width: 7.22rem;
      margin-bottom: 1.66rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 3.8% 0;
    flex-grow: 1;
    flex-basis: 17rem;
    @include tablet {
      text-align: center;
      padding: 0;
      flex-basis: auto;
    }
  }

  &__subtitle {
    font-size: 1.5rem;
    line-height: 1.18;
    font-weight: 700;
    margin-bottom: 0.94rem;
  }
  &__txt {
    color: $colorGrey;
    line-height: 1.2;
    margin-bottom: 1.55rem;
    @include tablet {
      margin-bottom: 0.94rem;
    }
  }
}
