.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36.3rem;
  height: 100vh;
  @include phone {
    height: 130vh;
  }

  @include phoneS {
    height: 150vh;
  }

  &_color-white {
    color: #fff;
  }
}
