.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 36.3rem;
  height: 100vh;
  @include phone {
    height: auto;
  }

  @media (max-width: 340px) {
    height: 145vh;
  }

  &_color-white {
    color: #fff;
  }
}
