.section-why {
  &__container {
    @include tablet {
      max-width: 97%;
    }
  }
  &__title {
    margin-bottom: 1.11rem;
    @include phone {
      margin-bottom: 0;
    }
  }

  &__txt {
    text-align: center;
    line-height: 1.16;
    width: 46%;
    margin: 0 auto;
    color: $colorGrey;
    margin-bottom: 2.77rem;
    @include tablet {
      width: 58%;
    }
    @include phone {
      width: 94%;
      margin-bottom: 3.2rem;
    }
  }
}
